$dark-theme-second: #1C1C24;
$border-color: #262631;

$white-color: #FFFFFF;
$text-inactive: #5F5F6E;

$button-border-color: #4447E2;
$button-background-color: #2D2D3A;

$main-background-color: #000000;
$progress-background: #131419;

$dark-green: #359848;
$light-green: #50D86A;

