.button {

    &_join {
        @include buttonMix;
        border: 1px solid $button-border-color;
        width: 93px;
        height: 40px;
    }

    &_login {
        @include buttonMix;
        @extend .button_join;
        border: 1px solid $button-background-color;
        background-color: $button-background-color;
        margin-left: 16px;
    }

    &_loadMore {
        @include buttonMix;
        border: 1px solid $button-border-color;
        width: 248px;
        height: 48px;
        font-size: 16px;
    }

    &-text {
        @include itemTextMix;
        color: $white-color;
    }
}

.buttons {
    &-holder {
        display: flex;
        flex-flow: row;

        @media screen and (max-width: 950px) {
            display: none;
        }
    }
}