.imgOnError {
    width: 100%;
    min-width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 15px;
    object-fit: cover;
    max-height: 358px;

    @media screen and (max-width: 950px) {
        max-height: 200px;
    }

    @media screen and (max-width: 375px) {
        max-height: 358px;
    }
}