.loadMore {
    height: 186px;
    min-height: 186px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.text {

    &-load {

        &-more {
            font-size: 16px;
        }
    }
}