.overview {
    max-width: 800px;
    display: flex;
    margin-top: 60px;
    flex-direction: column;

    @media screen and (max-width: 950px) {
        margin-top: 52px;
    }

    &__top {
        @include itemTextMix;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: $white-color
    }

    &__bottom {
        @include itemTextMix;
        margin-top: 9px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        padding-right: 2px;
        color: $certification-border-color;

        @media screen and (max-width: 950px) {
            padding-right: 24px;
        }
    }
}