.signIn {
    display: flex;
    flex-direction: row;
    margin-right: 110px;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 950px) {
        width: fit-content;
        margin-left: unset;
        margin-right: 18px;
    }
}