.vote {
    &-section {
        display: flex;
        flex-direction: row;
        height: 63px;
        margin-top: 30px;

        @media screen and (max-width: 950px) {
            margin-top: 39px;
        }

        &-text {
            @include itemTextMix;
            white-space: pre-line;
            width: 15px;
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $white-color;
        }
    }

    &-progress {
        margin-left: 0px;
        height: 63px;
        width: 63px;
        margin-top: auto;
        margin-bottom: auto;

        @media screen and (max-width: 950px) {
            width: 52px;
            height: 52px;
        }
    }

    &-options {
        display: flex;
        flex-direction: row;
        margin-left: 44px;
    }

}

.vote-percent {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;

    @media screen and (max-width: 950px) {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
    }
}

.list-item {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $dark-theme-second;
    cursor: pointer;

    @media screen and (max-width: 950px) {
        width: 32px;
        height: 32px;
    }
}