.filmHeader {
    width: 100%;

    &-certification {
        @include itemTextMix;
        border: 1px solid $certification-border-color;
        width: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 6px;
        padding-right: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $certification-border-color;

        @media screen and (max-width: 950px) {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 5px;
            padding-right: 5px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
    }

    &-title {
        @include itemTextMix;
        margin-top: 21px;
        display: flex;
        flex-direction: row;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 20px;
        color: $white-color;

        @media screen and (max-width: 950px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 15px;
        }

        &__year {
            @include itemTextMix;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 20px;
            color: $certification-border-color;

            @media screen and (max-width: 950px) {
                font-weight: 600;
                font-size: 24px;
                line-height: 15px;
            }
        }
    }

    &-list {
        @include itemTextMix;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $certification-border-color;

        @media screen and (max-width: 950px) {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
    }

    &-point {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $certification-border-color;
        margin-left: 9px;
        margin-right: 9px;
        margin-top: auto;
        margin-bottom: auto;

        @media screen and (max-width: 950px) {
            width: 4px;
            height: 4px;
        }
    }

}